<%- include('partials/header.ejs') %>

    <div class="container">
        <h2>Add a New Game</h2>
        <form action="/add-game" method="post" enctype="multipart/form-data">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>

             <!-- Genre -->
            <label for="genre">Genre</label>
            <input type="text" class="form-control" id="genre" name="genre" required>
    
             <!-- Description -->
            <label for="description">Description:</label>
            <textarea id="description" name="description" rows="4" required></textarea>
            
             <!-- minimum number of players -->
            <label for="minPlayers">Minimum Players:</label>
            <input type="number" id="minPlayers" name="minPlayers" required>
             
            <!-- maximum number of players -->
            <label for="maxPlayers">Maximum Players:</label>
            <input type="number" id="maxPlayers" name="maxPlayers" required>
            
            <!-- Game Rating -->
            <label for="rating">Rating</label>
            <input type="number" step="0.1" min="0" max="5" class="form-control" id="rating" name="rating" required>
            
            <!-- Difficulty level -->
            <label for="difficulty_level">Difficulty Level</label>
            <select class="form-control" id="difficulty_level" name="difficulty_level" required>
                <option value="Easy">Easy</option>
                <option value="Medium">Medium</option>
                <option value="Hard">Hard</option>
            </select>
            
            <!-- Upload Gif -->
            <label for="gif">Game GIF:</label>
            <input type="file" id="gif" name="gif" accept="image/gif" required>

            <button type="submit">Add Game</button>
        </form>
    </div>

    <%- include('partials/footer.ejs') %>